*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
header nav ul {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: nowrap;
    background-color: whitesmoke;
    height: 92px;
    align-items: center;
    
}
header nav ul div{
    display: flex;
    align-content: flex-start;
    margin: 50px 20px;
   
}
header nav ul section{
    display: flex;
    align-items: center;
}
header nav ul a{
    margin: 50px 10px;
    text-decoration: none;
}
#call{
    color: #f58a07;
    background-color:rgb(252, 243, 231);
    padding: 10px;
    border-radius: 10px;
}
.neg-w{
    position: relative;
    background-color: #DCEAF5;;
    width: 100%;
    height: 749px;
}
.neg{
    display: flex;
    width: 80%;
    max-width: 1200px;
    margin: 0px auto;
    padding: 50px;
}
.neg1{
    /* padding: 100px; */
    max-width: 500px;
}
#p1{
    margin: 10px 20px;
}

.neg1 h1{
    width: 527px;
    height: 216px;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.03em;
    color: #1D3444;
    margin-top: 30px;
    }

.neg1 p{
    width: 559px;
    height: 90px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
    margin-bottom: 30px;
}
    
.neg1 a{
    text-decoration: none;
    color: #f58a07;
}
.neg1 a::after{
    content: "\2192";
   
}
.neg1-1{
    display: flex;
    margin-top: 70px;
}
.neg2 img{
    position: relative;
    width: 600px;
    height: 493px;
    border-radius: 20px;
    margin-top: 70px;
    margin-left: 70px;
}

.hoyr{
    width: 90%;
   margin: 10px auto;
   max-width: 1200px;
}

.hoyr1{
    display: flex;
    padding: 40px;
    flex-direction: column;
    
}
.hoyr1 h1{
    width: 453px;
    height: 56px;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    text-transform: capitalize;
    color: #0D1317;
    margin-left: -20px;
}
.hoyr2{
    display: flex;
    flex-wrap: nowrap;
    line-height: 25px;
    margin:0px auto;
}
.hoyr21 {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}
.hoyr21 h3{
    margin-top: 30px;
    margin-bottom: 30px;;
}
.hoyr2 img{
    border-radius: 20px;
    width: 300px;
}
.hoyr22{
    background-color:white;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.hoyr22 h3 {
    margin-top: 30px;
    margin-bottom: 30px;}
.hoyr23{
    background-color:white;
    border-radius: 10px;
    padding: 10px;
    
    }
.hoyr23 h3 {  
    margin-top: 30px;
    margin-bottom: 30px;;
    }
.hoyr2 a{
    text-decoration: none;
    color: orange;
    }
.hoyr2 a::after{
    content: "\2192";
       
    }

.hoyr3{
    display: flex;
    flex-wrap: nowrap;
    line-height: 25px;
    max-width: 1200px;
    margin:0px auto;
    }
.hoyr31 {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    }
.hoyr31 h3{
    margin-top: 30px;
    margin-bottom: 30px;;
    }
.hoyr3 img{
    border-radius: 20px;
    width: 300px;
    }
.hoyr32{
    background-color:white;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    }
.hoyr32 h3 {
    margin-top: 30px;
    margin-bottom: 30px;}
.hoyr33{
    background-color:white;
    border-radius: 10px;
    padding: 10px;
    }
.hoyr33 h3 {  
    margin-top: 30px;
    margin-bottom: 30px;;
}
.hoyr3 a{
    text-decoration: none;
    color: orange;
}
.hoyr3 a::after{
    content: "\2192";
    
}
footer{
    height: 450px;
    background-color:rgb(20, 49, 82);
    position: relative;
}
.fbox{
    height: 200px;
    width: 90%;
    margin: 0px auto;
}
.top{
    width: 80%;
    display: flex;
    justify-content: space-around;
    color: white;
    line-height: 40px;
    margin: 0px 40px;
    padding: 40px 40px;
        }
#h1{
    font-size: 2rem;
    font-weight: 200;
    margin: 30px 0px;
}
#logo2{
    margin-top: 30px;
    
}
#com{
    padding: 30px;
}
#con{
    padding: 30px;
}
#join{
    padding: 30px;
}
#join input{
    position: relative;
    background-color: white;
    color: gray;
    width: 222px;
    height: 19px;
    border-radius: 31px;
    padding: 10px;
    margin: 30px 0px;
}
#join button{
    background-color: #F58A07;
    color: white;
    text-decoration: none;
    height: 40px;
    width: 106px;
    border-radius: 31px;
}
.bottom{
    display: flex;
    align-content: flex-end;
    justify-content: space-between;
    color: white;
    width: 70%;
    /* max-width: 1200px; */
    margin: 0px auto;
}
.social{
    display: flex;
    justify-content: space-around;
    width: 200px;
}
#h5{
    position: absolute;
    height: 200px;
    width: 60px;
    background-color: #F58A07;
    position: absolute;
    bottom: 0;
    border-top-right-radius:  20px; ;
    

}
#h6{
    position: absolute;
    height: 300px;
    width: 60px;
    background-color: #F58A07;
    right:0;
    top: 40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}