*{
    margin: 0;
}
.careers1{
display: flex;
height: 550px;
width: 80%;
margin: 150px auto;
}
.careers11{
display: flex;
align-items: center;
justify-content: center;
/* line-height: 60px; */
}
.careers11 h1{
font-size: 4rem;
}
.careers11 p{
margin: 30px 0px;
}
.careers11 a{
height: 17px;
width: 107px;
background-color: orange;
color: white;
text-decoration: none;
padding: 10px;
border-radius: 20px;
}
.careers12 img{
    position: absolute;
height: 550px;
width: 620px;
border-radius: 50px;
}
.box1{
position: absolute;
background-color: orange;
width: 180px;
height: 550px;
border-bottom-left-radius: 50px;
border-top-left-radius: 50px;

}

.careers2{
display: flex;
height: 550px;
width: 80%;
margin: 150px auto;
}
.careers21 img{
height: 550px;
width: 620px;
border-radius: 50px;
}
.careers22{
display: flex;
align-items: center;
justify-content: center;
margin: 0px 50px;
/* line-height: 60px; */
}
.careers22 h1{
font-size: 4rem;
}
.careers22 p{
margin: 30px 0px;
}

.careers3{
display: flex;
height: 550px;
width: 80%;
margin: 150px auto;
}
.careers31{
display: flex;
align-items: center;
justify-content: center;
/* line-height: 60px; */
}
.careers31 h1{
font-size: 4rem;
}
.careers31 p{
margin: 30px 0px;
}
.careers32 img{
height: 550px;
width: 620px;
border-radius: 50px;
}

.careers4{
display: flex;
height: 550px;
width: 80%;
margin: 150px auto;
}
.careers41 img{
height: 550px;
width: 620px;
border-radius: 50px;
}
.careers42{
display: flex;
align-items: center;
justify-content: center;
/* line-height: 60px; */
margin: 0px 50px;
}
.careers42 h1{
font-size: 4rem;
}
.careers42 p{
margin: 30px 0px;
}

.careers5{
display: flex;
height: 550px;
width: 80%;
margin: 150px auto;
}
.careers51{
display: flex;
align-items: center;
justify-content: center;
margin-top: 0px 50px;
/* line-height: 60px; */
}
.careers51 h1{
font-size: 4rem;
}
.careers51 p{
margin: 30px 0px;
}
.careers52 img{
height: 550px;
width: 620px;
border-radius: 50px;
}

.careers6{
display: flex;
height: 550px;
width: 80%;
margin: 150px auto;
}
.careers61 img{
height: 550px;
width: 620px;
border-radius: 50px;
}
.careers62{
display: flex;
align-items: center;
justify-content: center;
/* line-height: 60px; */
margin: 0px 50px;
}
.careers62 h1{
font-size: 4rem;
}
.careers62 p{
margin: 30px 0px;
}
